@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Shadows+Into+Light&display=swap');

body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

h2 {
  margin-top: 0;
}

header,
nav,
footer {
  background-color: #eee;
}

section {
  background-color: #ddd;
  padding: 20px;
}

section p {
  margin-bottom: 0;
}

header,
footer {
  padding-left: 20px;
  grid-column: 1 / -1;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "people-and-society  people-and-society"
    "econemy     geography";
}

#geography {
  grid-area: geography;
}

#people-and-society {
  grid-area: people-and-society;
}

#econemy {
  grid-area: econemy;
}
img {
  border: 1px solid #555;
}

figcaption {
  font-family: "Shadows Into Light", "Courier New", monospace;
  text-align: right;
}
