@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

h2 {
  margin-top: 0;
}

header,
footer {
  background-color: rgb(196, 248, 209);
  border: 4px solid rgb(3, 0, 0);
}

section {
  background-color: rgb(246, 203, 158);
  padding: 20px;
  border: 4px solid rgb(3, 0, 0);
  
}

section p {
  margin-bottom: 0;
}

header,
footer {
  padding-left: 20px;
  grid-column: 1 / -1;
}

main {
  font-family: 'Quicksand', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
  
    "people-and-society  geography"
    "econemy   econemy";
}

#geography {
  grid-area: geography;
}

#people-and-society {
  grid-area: people-and-society;
}

#econemy {
  grid-area: econemy;
}
#fun-facts{
  grid-area: fun-facts ;
}
img {
  border: 4px solid rgb(3, 0, 0);
}

figcaption {
  font-family: "Shadows Into Light", "Courier New", monospace;
  text-align: right;
}
